.env/
.venv/
env/
venv/
.win-env/
.win-venv/

**/.DS_Store
**/__pycache__
**/*.pyc

.vscode/
.mypy_cache/
!autosplit/learner/dataset/data/
autosplit/learner/dataset/data/*
autosplit/learner/models/checkpoints/
autosplit/network/message/*_pb2.py
autosplit/network/message/*_pb2.pyi
build/
dist/
deps/
SpongeSplits.egg-info/
tmp/
